html
  background -webkit-radial-gradient(#00008b,#00f,#00008b)
.B
  .D
    border-radius 2em
    height 97%
    position absolute
    width 98.3%
    *
      float left
    >div
      height 30%
      margin .5em
      width 18.4%
      img
        border #D69B01 4px groove
        border-bottom 0
        border-radius 2em 2em 0 0
        height 83%
        width 96.1%
      :nth-child(n+2)
        border 4px groove
        border-top 0
        color white
        text-align center
        text-shadow black 4px 3px 10px
        width 96.1%
      :nth-child(2)
        background linear-gradient(darkgreen 30%,green,#00BB34,green)
        border-color red
        border-bottom 0
      :nth-child(3)
        background linear-gradient(darkred 25%,red,#FA7373,red)
        border-color #00BB34
        border-radius 0 0 1em 1em
  #t
    border dodgerblue 8px double
    border-radius 2em 2em 1em 1em
    box-shadow cyan 2px 0px 10px 5px
    height 29%
    position absolute
    width 17.3%
::-webkit-scrollbar
  background -webkit-linear-gradient(right,darkGreen,forestGreen,lightGreen)
::-webkit-scrollbar-thumb
  background -webkit-linear-gradient(right,darkGreen,green,#00BB34)
  border #FFF 1px solid
  border-left 0
  border-radius 1em 0
  border-right 0
::-webkit-scrollbar-thumb:hover
  background -webkit-linear-gradient(right,darkGreen,#006D00,#00A32D)
::-webkit-scrollbar-thumb:active
  background -webkit-linear-gradient(right,darkGreen,#050,#019229)
